@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap");

.container {
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; */
  /* position: relative;
  top: 100px; */
}

.most-popular-sellers {
  position: absolute;
  width: 45%;
  left: 50px;
  top: 100px;
  width: 450px;
  height: 80px;
  /* transform: scale(0.9); */
}

.vendor-card {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.vendor-name {
  color: red;
  font-family: 'Libre Baskerville', serif;
}

.pie-chart {
  width: 30%;
  position: absolute;
  right: 80px;
  top: 100px;
  width: 400px;
  height: 50px;
}

.customer-reviews {
  width: 100%;
  position: absolute;
  top: 400px;
  left: 20px;
  width: 500px;
  height: 200px;
}

.title {
  font-family: 'Kadwa', serif;
}

.review-title {
  font-family: 'Kadwa', serif;
}

/* Additional styles */
