@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

body {
<<<<<<< HEAD
  flex: 1;
  background: url("./lums_background.png") no-repeat center center;
  background-size: cover;
}

.maindiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px; /* Reduce padding to decrease vertical space */
  width: 100vw; /* Set width to 100% of viewport width */
  height: 100vh; /* Set height to 100% of viewport height */
}

nav {
  margin-bottom: 10px; /* Reduce margin to decrease vertical space */
}

form {
  width: 70%; /* Set the form width to 70% of the parent container (.maindiv) */
  display: flex; /* Use flexbox */
}

input[type="text"] {
  flex: 1; /* Let the input take remaining space */
  padding: 10px; /* Optional: Add padding for better appearance */
}

.SearchButton {
  margin-left: 10px; /* Optional: Add margin between input and button */
  height: 40px; /* Optional: Set the button height */
=======
  background: linear-gradient(90deg, #FB37FF, #18B2DE);
}

.sub-button-Home {
  margin-top: 10px; /* Adjusted margin */
  width: 48%; /* Changed width to fit side by side */
  height: 50px;
>>>>>>> parent of 6e193b9d (Merge branch 'Hassan-Ali' of https://github.com/ShafayKashif/se2024 into Hassan-Ali)
  background-color: #fff;
  outline: none;
  border: solid #fff;
  border-radius: 40px;
  font-size: 16px;
  color: #000;
}

<<<<<<< HEAD
h3.title {
  text-align: left; /* Align the title to the left */
=======
h1 {
  text-align: center;
>>>>>>> parent of 6e193b9d (Merge branch 'Hassan-Ali' of https://github.com/ShafayKashif/se2024 into Hassan-Ali)
  margin-top: 1px;
  font-weight: bold; 
}

<<<<<<< HEAD
/* Style for items grid */
.items-container1 {
  display: flex; /* Change display to flex */
  overflow-x: auto; /* Enable horizontal scrolling */
  gap: 20px; 
  margin-top: 20px;
  padding-bottom: 20px; /* Optional: Add padding to the bottom */
  width: calc(100% - 40px); /* Adjust width to accommodate gap */

=======
::placeholder {
  color: #fff;
>>>>>>> parent of 6e193b9d (Merge branch 'Hassan-Ali' of https://github.com/ShafayKashif/se2024 into Hassan-Ali)
}
