/* Ensure full height and proper division */
.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.login-left {
  flex: 1;
  background: url('./lums_background.png') no-repeat center center;
  background-size: cover; /* Cover the entire div */
}

.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
}

.login-title {
  font-size: 24px; /* Adjusted for readability */
  color: black; /* Ensures the text is clearly visible */
  margin-bottom: 20px; /* Provides spacing between the title and the input fields */
}

.login-logo {
  width: 150px; /* Smaller size for the logo */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Space between logo and "Login" text */
}

.login-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  color: black; /* Text color for input text */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; /* Light background to highlight input area */
}

.login-button {
  width: 85%;
  padding: 10px;
  background-color: darkblue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px; 
}

.signup-redirect {
  color: darkblue;
  text-decoration: underline; 
  cursor: pointer; 
}
