.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
}

.login-left {
  /* flex: 1; */
  background: url("./lums_background.png");
  /* background-size: cover; */
  /* background-attachment: fixed;  */
  /* position: fixed; */
  width: 50%; 
  height: 100%;
}

.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
}

.login-title {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
}

.login-logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.login-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-input::placeholder {
  color: black;
  opacity: 1;
}

.login-button {
  width: 85%;
  padding: 10px;
  background-color: darkblue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup-redirect {
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}
